body {
    /* background-color: black; */

    padding: 0%;
    /* background-color: black; */
    font-family: Arial, Helvetica, sans-serif
}

.row{
    display: flex;
    margin: 50px auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 60%;
    padding: 10px;
    height: 70vh;
    padding: 10px;
    color: white;
    webkit-user-select: none;
    cursor: zoom-in;
    background-color: rgb(252,130,129);
    /* transition: background-color 300ms;
    transition-property: background-color;
    transition-duration: 300ms;
    transition-timing-function: ease;
    transition-delay: 0s; */
}

.column1{
    flex: 50%;
    
}

.big-heading {
    color: white;
    font-size: 35px;
    padding-top: 20px;
}

.small-text {
    font-size:smaller;
    padding-left: 50px;
    text-align: left;
    color: white;
}

.form{
    background-color: white;
    margin: 30px 50px 30px;
}

.row button:disabled {
    background-color: hsl(153,58%,51%;
    color: white;
    padding: 1px 5px 1px;
}

#goat {
    background-color: #5e56a3;
}
/* .row{
    width: 50%;
    margin: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */